---
layout: default
---

{% include site-header.html %}

<main class="main  container">
  <div class="content_project">
    <article class="article  article--page  typeset">
      <div class="wrapper">

        {% assign sorted_projects = site.projects | sort: 'id' | reverse %}
        <h1>{{sorted_projects}}</h1>
        {% for proj in sorted_projects %}
          <a href={{proj.url}}>
            <div class="box">
              <div class="img_container">
                <img src={{proj.timg}} />
              </div>
              <div class="text_container">
                <div class="text_container_title">
                  <b>{{ proj.title }}</b>
                </div>
                <div class="text_container_subtitle">
                  {{ proj.description }}
                </div>
              </div>
            </div>
          </a>
        {% endfor %}

      </div>
    </article>
  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
