---
layout: default
---

{% include site-header.html %}

<main class="main  container">
  <div class="content_project">
    <article class="article  article--page  typeset">
      <div class="wrapper">

        {% assign sorted_projects = site.projects | sort: 'id' | reverse %}
        {% for proj in sorted_projects %}
        <a href={{proj.url}}>
          <div class="box">
            <div class="go_corner">
              <div class="go_arrow">
                →
              </div>
            </div>
            <div class="img_container">
                <img src={{proj.timg}} />
            </div>
            <div class="text_container">
              <span>
                <b>{{ proj.title }}</b>

                <br />
                <br />

                {{ proj.description }}
              </span>
            </div>
          </div>
        </a>
        {% endfor %}

      </div>
    </article>
  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
