---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="content_project">
    <div class="wrapper">

      {% assign sorted_projects = site.projects | sort: 'id' | reverse %}
      {% for proj in sorted_projects %}
        <div class="box">
          <div class="img_container">
            <a href={{proj.url}}>
              <img class="opaque" src={{proj.timg}} />
              <p class="centered">{{proj.title}}</p>
            </a>
            {{proj.description}}
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
